.CenterLinkInfo_container {
    max-width: 1080px;
    margin: 100px auto 0;
    display: flex;
    .CenterInfo__container__border {
        width: 50%;
        height: 2px;
        background-color: #c4c4c4;
        margin-top: 12px;
    }
    .CenterLinkInfo_title {
        width: 400px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.02em;
        }
        p {
            font-weight: normal;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: -0.01em;
        }
    }
}
